@model SiriusApplication.Models.Image

@{
    ViewBag.Title = Model.Title;
}

<div class="container-content">
    <h2>"@Model.Title"</h2>

    @if (Model.ImageFile != null)
    {
        <div class="photo-display">
            <img width="800" src="@Url.Action("GetImage", "Image", new { id = Model.ImageId })" />
        </div>
    }

    <div class="photo-description">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="photo-metadata">

        <div>
            <span class="display-label">
                @Html.DisplayNameFor(model => model.CreatedDate):
            </span>
            <span class="display-field">
                @Html.DisplayFor(model => model.CreatedDate)
            </span>
        </div>

    </div>

    <p>
        @Html.ActionLink("Back to List", "Index") |
    @Html.ActionLink("Delete This Photo", "Delete", new { id = Model.ImageId })
    </p>
</div>
