@model SiriusApplication.Models.Image

<!-- Modal -->
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 class="modal-title">@Html.DisplayFor(x => x.Title)</h3>
    <p>@Html.DisplayFor(x => x.Description)</p>
</div>
<div class="modal-body">
    <img class="img-responsive aligncenter" alt="@Model.Description" src="@this.Url.Action("DisplayImageFileById", "Photography", new { id = Model.ImageId })"/>
</div>
<div class="modal-footer">
    <p>@Html.LabelFor(x => x.ImageTakenOnDate): @Model.ImageTakenOnDate | 
    @Html.LabelFor(x => x.Aperture): @Model.Aperture | 
    @Html.LabelFor(x => x.IsoRating): @Model.IsoRating | 
    @Html.LabelFor(x => x.FocalLength): @Model.FocalLength | 
    @Html.LabelFor(x => x.ShutterSpeed): @Model.ShutterSpeed</p>
</div>
