@model IEnumerable<SiriusApplication.Models.Image>

@{ int imageShowcaseIncrement = 0; }

<div class="container marketing">
    <hr class="featurette-divider" />
    <h2 class="featurette-heading">Latest Photos</h2>
    @if (!this.Model.Any())
    {
        <div class="col-lg-4 text-center">
            There are currently no Images to display.
        </div>
    }
    else
    {
        foreach (var image in Model)
        {
        <div class="row">
            <div class="col-md-7">
                <h2 class="featurette-heading">@image.Title</h2>
                <p class="lead">@image.Description</p>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseDetails@(imageShowcaseIncrement)">Details
                                        <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseDetails@(imageShowcaseIncrement)" class="panel-collapse collapse">
                            <div class="panel-body">
                                @Html.LabelFor(model => model.FirstOrDefault().ImageTakenOnDate)
                                <p>@image.ImageTakenOnDate</p>
                                @Html.LabelFor(model => model.FirstOrDefault().Aperture)
                                <p>@image.Aperture</p>
                                @Html.LabelFor(model => model.FirstOrDefault().IsoRating)
                                <p>@image.IsoRating</p>
                                @Html.LabelFor(model => model.FirstOrDefault().FocalLength)
                                <p>@image.FocalLength</p>
                                @Html.LabelFor(model => model.FirstOrDefault().ShutterSpeed)
                                <p>@image.ShutterSpeed</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseLocation@(imageShowcaseIncrement)">Location<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                            </h4>
                        </div>
                        <div id="collapseLocation@(imageShowcaseIncrement)" class="panel-collapse collapse">
                            <div class="panel-body">
                                @Html.Action("_GoogleMaps", "Photography", new { id = image.ImageId, count = imageShowcaseIncrement})
                            </div>
                        </div>
                    </div>
                    <div class="pull-right">
                        <br/>
                        @Html.ActionLink("View image", "DisplayImageById", new {id = image.ImageId}, new {@class="btn btn-primary"})
                    </div>
                    

                    <div class="pull-right">
                        <br/>
                        <button id="barry@(imageShowcaseIncrement)" type="button" class="btn btn-danger">Danger</button>
                    </div>
                    

                </div>
            </div>
            <div class="col-md-5">
                <img class="img-responsive thumbnail" width=500 height=500  alt="@image.Description" src="@this.Url.Action("DisplayImageFileById", "Photography", new { id = image.ImageId })"/>
            </div>
        </div>
        <hr class="featurette-divider" />

            //increment for next collapse div
            imageShowcaseIncrement++;
        }
    }
</div>
