@model SiriusApplication.Models.Image

<!-- Modal -->
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 class="modal-title">@Html.DisplayFor(x => x.Title)</h3>
    <p>@Html.DisplayFor(x => x.Description)</p>
</div>
<div class="modal-body">
    <img class="img-responsive aligncenter" alt="@Model.Description" src="@this.Url.Action("DisplayLargeImageFileById", "Photography", new { id = Model.ImageId })"/>
</div>
<div class="modal-footer">
    <p>
        @Html.LabelFor(x => x.ImageTakenOnDate): @Html.DisplayFor(x => x.ImageTakenOnDate) | 
        @Html.LabelFor(x => x.Aperture): @Html.DisplayFor(x => x.Aperture) | 
        @Html.LabelFor(x => x.IsoRating): @Html.DisplayFor(x => x.IsoRating) | 
        @Html.LabelFor(x => x.FocalLength): @Html.DisplayFor(x => x.FocalLength) | 
        @Html.LabelFor(x => x.ShutterSpeed): @Html.DisplayFor(x => x.ShutterSpeed)
    </p>
</div>
