@model SiriusApplication.Models.Image

@{
    ViewBag.Title = "Image";
}

<h2>Image</h2>

<fieldset>
    <legend>Image</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AlbumId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AlbumId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ImageMimeType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImageMimeType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UploadedDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UploadedDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ImageTakenOnDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImageTakenOnDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsoRating)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsoRating)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FocalLength)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FocalLength)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Aperture)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Aperture)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ShutterSpeed)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ShutterSpeed)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ImageId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
